<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<body>

    <table th:fragment="itemsFactura" class="d-none"> <!--Display none-->

        <tbody id="plantillaItemsFactura">
            <tr id="row_{Id}" >
                <td class="d-none"> <input type="hidden" value="{Id}" name="item_id[]"/> </td>
                <td>{NOMBRE}</td>
                <td>{PRECIO}</td>
                <td>
                    <input type="number" value="1" name="cantidad[]" id="cantidad_{Id}"
                        class="form-control col-sm-4" onchange="itemsHelper.calcularImporte({Id},{PRECIO},this.value);"/>
                </td>
                <td>
                    <span id="total_importe_{Id}">0</span>
                </td>
                <td>
                    <a href="#" class="btn btn-danger btn-xs" onclick="itemsHelper.eliminarLineaFactura({Id});">x</a>
                </td>
            </tr>

        </tbody>
    </table>
</body>
</html>